body{
    background-color: lightblue;
    /*font-family: 'Rage Italic', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;

}

h1{
    text-align: center;
    font-size: 50px;
    color: lightyellow;
    text-shadow: 2px 2px 4px #000000;
}

.container{
    max-width: 650px;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    background-color: teal;
    border-radius: 15px;
    box-shadow: 10px 10px 15px hsla(0, 0%, 0%, 0.8);
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    overflow-wrap: break-word;

}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: center;
    cursor: pointer;
    accent-color: crimson;
}

input[type="number"]{
    width: 50px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

button{
    margin-top: 15px;
    background-color: lightyellow;
    cursor: pointer;
    font-size: 1em;
    border: 3px solid darkslategrey;
    border-radius: 5px;
}

button:hover{
    background-color: greenyellow;
    transition: 0.4s
}
